body{
    background-color:#f5f5f5;
}

.bottom-right {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 25px;
    background-color: #9886aa;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 2px 2px 6px 0px #0000003b;
    z-index: 100;
    bottom: 50px;
    border: none;
}

.profileImage {
    width: 150px;
}

.video {
    margin: 2%;
}

.bottom-right a {
    color: #fff;
}

.bottom-right a i {
    font-size: 30px;
}

.add-person-chat {
    cursor: pointer;
}

.chat-content {
    overflow: auto;
    height: 100%;
}

li.nav-item.mr-auto {
    margin: 0 auto !important;
}

.main-menu.menu-light .navigation>li.active:not(.sidebar-group-active)>a {
    background: rgba(152, 134, 170, 0.13);
    color: #9886aa;
    border-radius: 0.267rem;
}

.logButton {
    background-image: linear-gradient(to right, #bc6428, #ffd77a, #945825) !important;
    border: none !important;
}

textarea:focus,
select,
select:active,
select:hover,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable- input:focus {
    border-color: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: #9886aa8c auto 5px;
}

option:not(:checked) {
    border-color: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: #ffd77a auto 5px;
}

.form-check-input:not(:checked) {
    background: red;
}

.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.checkbox input[type="checkbox"]:focus+label::before,
.checkbox input[type="radio"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+label::after,
.checkbox input[type="radio"]:checked+label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled+label,
.checkbox input[type="radio"]:disabled+label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before,
.checkbox input[type="radio"]:disabled+label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked+label::before,
.checkbox-primary input[type="radio"]:checked+label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:checked+label::after,
.checkbox-primary input[type="radio"]:checked+label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked+label::before,
.checkbox-danger input[type="radio"]:checked+label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked+label::after,
.checkbox-danger input[type="radio"]:checked+label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked+label::before,
.checkbox-info input[type="radio"]:checked+label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked+label::after,
.checkbox-info input[type="radio"]:checked+label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked+label::before,
.checkbox-warning input[type="radio"]:checked+label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked+label::after,
.checkbox-warning input[type="radio"]:checked+label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked+label::before,
.checkbox-success input[type="radio"]:checked+label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked+label::after,
.checkbox-success input[type="radio"]:checked+label::after {
    color: #fff;
}

.checkbox.checkbox-sm label::before {
    width: 30px;
    height: 30px;
    top: -13px;
}

.checkbox.checkbox-sm label::after {
    width: 30px;
    height: 30px;
    padding-left: 4px;
    font-size: 20px;
    left: 1px;
    top: -13px;
}

.checkbox.checkbox-sm label {
    padding-left: 18px;
    top: 13px;
}

.checkbox.checkbox-md label::before {
    width: 34px;
    height: 34px;
    top: -17px;
}

.checkbox.checkbox-md label::after {
    width: 34px;
    height: 34px;
    padding-left: 4px;
    font-size: 24px;
    left: 1px;
    top: -18px;
}

.checkbox.checkbox-md label {
    padding-left: 22px;
    top: 17px;
}

.checkbox.checkbox-lg label::before {
    width: 46px;
    height: 46px;
    top: -28px;
}

.checkbox.checkbox-lg label::after {
    width: 46px;
    height: 46px;
    padding-left: 4px;
    font-size: 36px;
    left: 1px;
    top: -31px;
}

.checkbox.checkbox-lg label {
    padding-left: 34px;
    top: 32px;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.radio input[type="radio"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked+label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled+label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled+label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"]+label::after {
    background-color: #337ab7;
}

.radio-primary input[type="radio"]:checked+label::before {
    border-color: #337ab7;
}

.radio-primary input[type="radio"]:checked+label::after {
    background-color: #337ab7;
}

.radio-danger input[type="radio"]+label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"]+label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"]+label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"]+label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::after {
    background-color: #5cb85c;
}

input[type="checkbox"].styled:checked+label:after,
input[type="radio"].styled:checked+label:after {
    font-family: "FontAwesome";
    content: "\f00c";
}

input[type="checkbox"] .styled:checked+label::before,
input[type="radio"] .styled:checked+label::before {
    color: #fff;
}

input[type="checkbox"] .styled:checked+label::after,
input[type="radio"] .styled:checked+label::after {
    color: #fff;
}

.radio.radio-sm label::before {
    width: 30px;
    height: 30px;
    top: -13px;
}

.radio.radio-sm label::after {
    width: 22px;
    height: 22px;
    padding-left: 4px;
    font-size: 20px;
    left: 4px;
    top: -9px;
}

.radio.radio-sm label {
    padding-left: 18px;
    top: 13px;
}

.radio.radio-md label::before {
    width: 34px;
    height: 34px;
    top: -17px;
}

.radio.radio-md label::after {
    width: 26px;
    height: 26px;
    padding-left: 4px;
    font-size: 24px;
    left: 4px;
    top: -13px;
}

.radio.radio-md label {
    padding-left: 22px;
    top: 17px;
}

.radio.radio-lg label::before {
    width: 46px;
    height: 46px;
    top: -28px;
}

.radio.radio-lg label::after {
    width: 36px;
    height: 36px;
    padding-left: 4px;
    font-size: 36px;
    left: 5px;
    top: -23px;
}

.radio.radio-lg label {
    padding-left: 34px;
    top: 32px;
}

.main-menu-content .menu-toggle::after {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    width: 0.45em;
    height: 0.45em;
    border: 1.5px solid;
    border-bottom: 0;
    border-left: 0;
    transform: translateY(-50%) rotate(45deg);
    margin-left: 84%;
    transition: all ease 0.2s;
}

.menu-vertical .menu-item .menu-toggle::after {
    right: 0.938rem;
}

.menu:not(.menu-no-animation) .menu-toggle::after {
    transition-duration: 0.3s;
    transition-property: transform;
}

.menu-vertical .menu-item .menu-toggle {
    padding-right: calc(0.938rem + 1.35em);
}

.menu-vertical .menu-item .menu-link {
    font-size: 0.9375rem;
}

.menu-vertical .menu-item .menu-link,
.menu-vertical .menu-block {
    padding: 0.625rem 0.938rem;
}

.menu:not(.menu-no-animation) .menu-link {
    transition-duration: 0.3s;
    transition-property: color, background-color;
}

.bg-menu-theme .menu-link,
.bg-menu-theme .menu-horizontal-prev,
.bg-menu-theme .menu-horizontal-next {
    color: #677788;
}

.menu-link {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    margin: 0;
}

.deleteIcon {
    color: #ffff;
}

.uploadIcon {
    font-size: 100px;
}

#fileChat {
    width: 150px;
    height: 150px;
    margin-bottom: 5%;
    object-fit: contain;
}

.table-longText {
    overflow: hidden;
    width: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.select2-container {
    width: 100% !important;
}

.select2-selection--multiple .select2-selection__choice__display {
    padding-left: 13px !important;
}

.pagination .page-item.active .page-link,
.pagination .page-item.active .page-link:hover {
    border-radius: 0.267rem;
    background-color: #475f7b !important;
    color: #fbd075;
}

.view-type a {
    color: #333;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
}

.view-type a .bx {
    font-size: 22px;
}

.view-type a.active {
    background-color: #F3F6FA;
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #cecece;
    border-radius: 12px;
    padding: 5px;
}

.list-item .block-top {
    width: 100%;
    position: relative;
    padding: 10px 0;
}

.list-item .flag {
    position: absolute;
    overflow: hidden;
    border-radius: 2px;
    top: 11px;
    left: 11px;
    width: 25px;
    height: 25px;
    z-index: 1;
}

.flag img {
    width: 100%;
    object-fit: contain;
}

.list-item .block-top .back-grey {
    position: absolute;
    border-radius: 12px 12px 0px 0px;
    background: #daa047;
    left: 0;
    right: 0;
    bottom: 50%;
    top: 0;
}

.list-item .block-image {
    width: 75px;
    height: 75px;
    box-shadow: none;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    z-index: 0;
    position: relative;
}

.list-item .block-image img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.block-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-item .block-add .btn {
    border: 1px solid #9886AA;
    background-color: #9886AA;
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    color: #fff;
    font-size: 14px;
}

.list-item .block-add .btn .bx {
    background-image: unset !important;
    background-clip: unset;
    -webkit-text-fill-color: unset;
}

.block-info .name {
    font-weight: bold;
    font-size: 15px;
}

.block-info .desc {
    font-size: 10px;
    background-color: #f7c870 !important;
    color: #000;
    font-weight: 600;
}

.count-box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #00000042;
    border-radius: 6px;
    padding: 6px;
}

span.numbers {
    font-size: 13px;
    font-weight: bold;
    color: #514B88;
}

.count-box span {
    font-size: 13px;
    overflow: hidden;
    font-weight: normal;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pagination-wrapper nav {
    align-items: center;
}

.pagination-wrapper .text-muted,
.pagination-wrapper .pagination {
    margin-bottom: 0;
}

.pagination-wrapper .d-sm-none {
    justify-content: center !important;
    margin-top: 15px;
}

.card-header hr {
    margin-top: 5px;
}

table.zero-configuration {
    border-collapse: separate;
    border-spacing: 0 1em;
}

table.zero-configuration tr td {
    border-top: 1px solid #E7EBF5 !important;
    border-bottom: 1px solid #E7EBF5 !important;
    color: #000;
}

table.zero-configuration thead tr th {
    border: none;
    color: #000000;
    white-space: nowrap;
    font-size: 13px;
    padding-bottom: 0;
}

table.zero-configuration tr td:first-child {
    border-left: 1px solid #E7EBF5;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

table.zero-configuration tr td:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-right: 1px solid #E7EBF5;
}

table.zero-configuration img {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    object-fit: cover;
}

table.zero-configuration .flag {
    overflow: hidden;
    border-radius: 2px;
    width: 30px;
    height: 20px;
    display: inline-block;
    margin-left: 8px;
}

table.zero-configuration .flag img {
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.search-item {
    position: relative;
}

.search-item input {
    padding-left: 30px;
}

.search-item .bx {
    position: absolute;
    top: 10px;
    left: 8px;
}

.count-box.list {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin-bottom: 13px;
}

.campaign-button .btn {
    color: #ffffff;
    box-shadow: 0px 2px 6px #6370fb1c;
    border-radius: 14px;
    font-size: 13px;
    padding: 4px 13px;
}

.dangerStatus {
    background: #67CE6F 0% 0% no-repeat padding-box;
}

.campaign-items .count-box {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    color: #000;
}

.campaign-items .count-box .numbers {
    font-weight: bold;
    color: #000;
}

.campaign-status {
    border-radius: 15px;
    min-width: 150px;
    font-size: 14px;
    padding: 10px;
    background-color: #9886AA !important;
}

.campaign-date {
    color: #888;
    font-size: 11px;
    font-weight: 600;
    margin-top: 5px;
}

.styleless-button {
    background: none;
    border: none;
}

.more {
    position: absolute;
    border-radius: 2px;
    top: 12px;
    left: 6px;
    height: 18px;
    cursor: pointer;
    z-index: 1;
}

ul.dropdown-menu.p-1.border.show {
    z-index: 10 !important;
}

.menu-position {
    z-index: 2 !important;
}

.list-item-custom {
    padding: 2%;
}

.list-item-icon {
    margin-right: 9%;
    top: 4px;
    position: relative;
}

.list-item-text {
    font-size: 12px;
    color: black;
    font-weight: bold;
}

.deleteModal {
    height: 17vh !important;
    overflow-y: auto;
}

#profileImage {
    width: 150px;
    height: 5px;
}

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
    
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -11%;
    margin-left: 11%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
    width: 78%;

}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
#preview{
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
  background:url(../img/no-image.jpg);
  background-color:#fff;
    background-size: cover;
  background-repeat:no-repeat;
    display: inline-block;
  box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.btn-primary
{
  display:block;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
}
.imgUp
{
  margin-bottom:15px;
}
.del
{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  background-color:rgba(255,255,255,0.6);
  cursor:pointer;
}
.imgAdd
{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:#4bd7ef;
  color:#fff;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  line-height:30px;
  margin-top:0px;
  cursor:pointer;
  font-size:15px;
}

.loader-wrapper{
    text-align: center;
    min-height: 250px;
    line-height: 250px;
}

.loader-wrapper .spinner-border{
    width: 3rem;
    height: 3rem;
}

.full-modal-dialog {
    min-width: 90% !important;
}

.modal .modal-content .modal-header .modal-title {
    font-family: "Rubik",'Tajawal', Helvetica, Arial, serif;
    font-weight: normal;
    font-size: 1.2rem;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.4;
}
h5, .h5 {
    font-size: 1.3rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Rubik",'Tajawal', Helvetica, Arial, serif;
    color: #000000;
}

.ad-title{
    display: none;
}

.pending-campaign .ad-title{
    display: block;
}

.list-item-custom a{
    display: inline-block;
}

.categories span{
    width: 100;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contract-modal-body{
    text-align: right;
    direction: rtl;
}

.image-preview {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    border-right: 0;
}

.categories{
    max-height: 120px;
    overflow: hidden;
}

.menu-item .badge{
    padding: 0;
    font-size: 11px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    line-height: 25px;
}