.bottom-right {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 25px;
    background-color: #25d366;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    bottom:  50px;
    border: none
}

.bottom-right a {
    color: #fff;
}

.bottom-right a i{
    font-size: 30px;
}

.add-person-chat{
    cursor: pointer;
}